{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
</head>
<body>
  <div class="message">
    <h1 href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">{{title}}</h1>
    <p>
      <a href="#" id="link_view2" onClick="toggle_view2();return false;" style="display:none;">対応樹種一覧</a>
      <a href="#" id="link_hidden2" onClick="toggle_hidden2();return false;">対応樹種一覧(閉じる)</a>
    </p>
    <div id="area_hoge2">
      <p>
        <table>
          <tr>
            <td>ヤマボウシ</td>
            <td>ツリバナ</td>
            <td>サルナシ</td> 
            <td>ヤマグワ</td>
            <td>リョウブ</td>
          </tr>
          <tr>
            <td>ナナカマド</td>
            <td>ミズキ</td>
            <td>クリ</td>
            <td>ミズナラ</td>
            <td>タラノキ</td>
          </tr>
          <tr>
            <td>イヌビワ</td>
            <td>カナクギノキ</td>
            <td>オオカメノキ</td>
            <td>ウワミズザクラ</td>
            <td>ミズメ</td>
          </tr>
          <tr>
            <td>イワガラミ</td>
            <td>ヤマザクラ</td>
            <td>ゴンズイ</td>
            <td>ヤブツバキ</td>
            <td>マンサク</td>
          </tr>
          <tr>
            <td>ヒサカキ</td>
            <td>カツラ</td>
            <td>ヤブニッケイ</td>
            <td>ネズミモチ</td>
            <td>ヌルデ</td>
          </tr>
          <tr>
            <td>アカシデ</td>
            <td>クマノミズキ</td>
            <td>アオハダ</td>
            <td>ウラゲエンコウカエデ</td>
            <td>ノイバラ</td>
          </tr>
          <tr>
            <td>ヤブイバラ</td>
            <td>ツルウメモドキ</td>
            <td>ネジキ</td>
            <td>ノリウツギ</td>
            <td>サンショウ</td>
          </tr>
          <tr>
            <td>フサザクラ</td>
            <td>イイギリ</td>
            <td>ハチジョウキブシ</td>
            <td>ウラジロガシ</td>
            <td>マルバウツギ</td>
          </tr>
          <tr>
            <td>ヤマアジサイ</td>
            <td>コナラ</td>
            <td>マルバアオダモ</td>
            <td>コハウチワカエデ</td>
            <td>ヒメユズリハ</td>
          </tr>
          <tr>
            <td>ヤマウルシ</td>
            <td>クサギ</td>
            <td>ミネカエデ</td>
            <td>クロモジ</td>
            <td>カマツカ</td>
          </tr>
        </table>
      </p>
    </div>
    
    <script type="text/javascript" src="{% static 'hello/js/style.js' %}"></script>
    <p>{{message|safe}}</p>
    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <p id="result">{{result}}</p>
      <p id="value">{{value}}</p>
      <!-- ここから -->
      <body onload="f()">
      <p>樹種名: <input type="text" name="dame" autocomplete="on" list="dt1"></p>
      <datalist id="dt1"></datalist>
      <!-- ここまで -->
      <!-- <p>{{form}}</p> -->
      <p>※樹種名が分からない場合は"？"と入力してください。</p>
      <input id="image" type="file" name="image" accept="image/jpeg, image/png" required>
      <input type="submit" value="送信">
    </form>
    
    <footer>
      <p><a href="http://nu-agr-se.flier.jp/" target="_blank">(C) 名古屋大学生物システム工学研究室</a></p>
    </footer>
  </div>
</body>
</html>