body {
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image:url("../images/1576722134-1.png");
  /* background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg) ; */
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size:cover;
  background-attachment: fixed;
  background-color: #fcfcec;
  }
  
h1 {
  color: #acd454;
  font-size: 45pt;
  font-family: 'Alegreya Sans SC', sans-serif;
}
p#result {
  color: #6c3c04;
  font-size: 16pt;
  font-weight: bold;
}
p#value {
  border-bottom:dashed  3px  ;
} 
footer p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 60px;
  color: black;
} 
li {
  list-style: none;
}
form {
  color: #6c3c04;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table td{
  padding: 16px 0;
  border:solid 1px #fcfcec;
  text-align: center;
  color: black;
}

table tr:nth-child(odd){
  background-color: #b7c794
}
table tr:nth-child(even){
  background-color: #acd454
}

html, body{
  height: 100%;
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif; 
}
.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; 
  height:60%;
  bottom: 30%; 
  display: block;
  position: absolute;
  background-color: rgba(100,100,100,0.6);
  color: #fff;
  padding: 0.5em;
}