body {
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image:url("../images/12.jpg");
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size:cover;
  background-attachment: fixed;
}
  
h1 {
  color: #004D40;
    font-size: 45pt;
}

table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table td{
  padding: 16px 0;
  border:solid 1px #fcfcec;
}

table tr:nth-child(odd){
  background-color: #8FD9A8
}
table tr:nth-child(even){
  background-color: #D2E69C
}

p#result {
  color: #9C27B0;
  font-size: 16pt;
  font-weight: bold;
}

p#value {
  border-bottom:dashed  3px  ;
} 

.message {
  background-color: rgba(200,230,201, 0.7);
  padding: 0.5em;
}

/* #dt1 {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  width: 250px;
  height: 80px;
  overflow: auto;
} */